{% extends "base.html" %}
{% block content %}
    {% include "components/_hero.html" with title="Trainee Management" extra_class="is-warning" %}
    <section class="section">
        <div class="buttons are-large">
            <a class="button is-primary" href="{% url 'report_cards' %}">Trainee List</a>
            <a class="button is-link" href="">Report Cards</a>
            <a class="button is-info" href="{% url 'grading_sheet' %}">Grading Session</a>
            <a class="button is-success" href=""></a>
        </div>
    </section>
{% endblock content %}